<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div>
        <form action="/animals/<%= animal._id %>?_method=PUT" method="post">
          <fieldset>
            <legend>Edit A Registered Animal <%= animal.name %></legend>
            <label>
                SPECIES:<input
                  type="text"
                  name="species"
                  value="<%= animal.species %> "
                  placeholder="enter an animal(s) name"
                />
              </label>
              <label>
                LOCATION:<input
                  type="text"
                  name="location"
                  value="<%= animal.location %> "
                  placeholder="enter a geographic location"
                />
              </label>
              <label>
                  LIFE EXPECTANCY:<input
                    type="number"
                    name="lifeExpectancy"
                    value=<%= parseInt(animal.lifeExpectancy) %> 
                    placeholder="enter a number in years"
                  />
                </label>
              <label>
                EXTINCT: <input 
                type="checkbox" 
                name="extinct" 
                <%= animal.extinct ? "checked" : "" %> 
                />
              </label>
          </fieldset>
          <input type="submit" value="Update <%= animal.species %>" />
          <input type= "file"  name = "Insert Image" accept = "image/jpeg" />
          <a href="/animals/"><button>Back to Main</button></a>
          <a href="/animals/:id"><button>Back</button></a>
        </form>
        
      </div>
    </main>
  </body>
</html>